*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    min-height:100vh;
    width:100%;

    background-image: url(backgroundimage.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;

}
.logo img{
    float:left;
    width: 60px;
    height:auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}

.title2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title2 h1{
    color:rgb(37, 37, 37);
    font-size: 60px;
}
.me{
    width:80%;
    margin:auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size:36px;
    font-weight: 600;
}
p{
    color:rgb(97, 96, 96);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top:5%;
    display: flex;
    justify-content: space-between;
}
.lista{
    flex-basis: 31%;
    background: rgb(182, 178, 178);
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.3s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.lista:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
.galerija{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.slika{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.slika img{
    width: 100%;
    display: block;
}
.layer{ 
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.3s;
}

.layer:hover{
    background: rgba(105, 103, 103, 0.7);
}
.layer h3{
    width:100%;
    font-weight: 500;
    color:#fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.4s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;

}
.sub-header{
    height: 50vh;
    width: 100%;
    background-image:url(backgroundimage.png);
    background-position: center;
    background-size: cover;

}
.naslov{
    text-align: center;
    color: rgb(78, 78, 78);
    position: absolute;
    font-size:60px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.glavnidio{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.kontakt{
    flex-basis: 48%;
    padding: 30px 2px;
}
.kontakt img{
    width:100%;
}
.kontakt h1{
    padding-top: 0;
}
.kontakt p{
    padding: 15px 0 25px;
}
.sub-sub-header{
    height: 50vh;
    width: 100%;
    background-image:url(backgroundimage.png);
    background-position: center;
    background-size: cover;

}
.row1{
    margin-top:25%;
    display: flex;
    justify-content: space-between;
}
.formica{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.textic{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%,-50%);

}
